.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App > .App-footer {
    margin-top: auto;
}

.App-header {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #282c34;
    font-size: calc(4px + 3vmin);
    color: white;
}

.App-content {
    padding-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: ghostwhite;
    font-size: calc(4px + 2vmin);
    color: black;
    overflow-y: auto;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.App-footer {
    background-color: #282c34;
    padding-left: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: calc(3px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(4px + 3vmin);
    color: whitesmoke;
}

.Form-row {
    display: flex;
    height: 300px;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: calc(4px + 3vmin);
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    .App-header {
        font-size: calc(4px + 4vmin);
        color: whitesmoke;
    }

    .App-content {
        font-size: calc(4px + 3vmin);
        color: whitesmoke;
        background-color: #282c34;
        overflow: visible;
    }

    .App-footer {
        font-size: calc(3px + 2vmin);
        color: whitesmoke;
    }

    .Form-row input text {
        font-size: calc(4px + 6vmin);
        color: whitesmoke;
    }
}

